


<!DOCTYPE html>
<html>
    <style>
        body {
            background-color: rgb(250, 207, 213);
            font-family: helvetica, arial, sans-serif;
        }

        .Backbutton {
            background-color: white;
            color: palevioletred;
            text-align: center;
            font-size: 14px;
            padding: 7px 7px;
            border: 1px solid rgb(66, 64, 64);
            
        }

        .Backbutton:hover {
            background-color:white;
            color: palevioletred;
            text-align: center;
            font-size: 16px;
            padding: 7px 7px;
            border: 1px solid black;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }

    </style>



    <body>

        <form action="http://127.0.0.1:3412/" >
            <input type="submit" value="Back" class="Backbutton"/>
        </form>

        <img src="https://media3.giphy.com/media/bMnnmNo087fgs/giphy.gif?cid=3640f6095bb618276266674845cadf05" >
        <h1 style="color: red">{{error}}</h1>

    </body>
    
</html>