<html>
<style>

    body {
        background-color: rgb(250, 207, 213);
        font-family: helvetica, arial, sans-serif;
        }
</style>
<body>



<h1>Welcome to GIF maker</h1>

<img src="https://media3.giphy.com/media/5tujcYGikAqetBBlSa/giphy.gif?cid=3640f6095bb5d87b4969447036eb29a6" height="300px" width="350px">
<h2 style="color:red;">Please select the bucket you want ..</h2>


{% for name in allBucket %}
    <p style="font-size:24px;"> ✿ <a href="http://127.0.0.1:3412/{{name}}/show_all_videos"> {{ name }}</a></p>
{% endfor %}


</body>
</html>
