<!DOCTYPE html>
<html>
    <head>
        <style>
        body {
            background-color: rgb(250, 207, 213);
            font-family: helvetica, arial, sans-serif;
        }
        th {
            border: 1px solid black;
            background-color: rgb(252, 244, 245);
            padding-top: 15px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 50px;
        }
        
        .button {
            background-color: red;
            color: white;
            text-align: center;
            font-size: 14px;
            padding: 7px 7px;
            border: 1px solid rgb(66, 64, 64);
            
        }

        .button:hover {
            background-color: red;
            color: white;
            text-align: center;
            font-size: 16px;
            padding: 7px 10px;
            border: 1px solid black;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }

        .Backbutton {
            background-color: white;
            color: palevioletred;
            text-align: center;
            font-size: 14px;
            padding: 7px 7px;
            border: 1px solid rgb(66, 64, 64);
            
        }

        .Backbutton:hover {
            background-color:white;
            color: palevioletred;
            text-align: center;
            font-size: 16px;
            padding: 7px 7px;
            border: 1px solid black;
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        }
        </style>
    </head>
    

    <body>

        <form action="http://127.0.0.1:3412/{{bucketname}}/show_all_videos" class="myclass">
            <input type="submit" value="Back" class="Backbutton"/>
        </form>

        <img src="https://media2.giphy.com/media/28BMIVvADVAjinjBVL/giphy.gif?cid=3640f6095bb5d87b4969447036eb29a6" width="200" height="200">

        <h1>Bucketname : {{ bucketname }}</h1>

        <form action="http://127.0.0.1:3412/delete/{{bucketname}}/all" class="myclass">
            <p><input type="submit" value = "✹ Delete All GIF IN BUCKET ✹" class="button"/></p>
        </form>
        <table>
        {%- for gif in gifList|batch(4, '&nbsp;') %}
        <tr>
        {%- for i in gif %}
            {% if i != "&nbsp;" %}
                <th> 
                    <img src="http://localhost:8080/keeper/{{i}}" >
                    <p> <b>Name: </b> {{ i }}</p>
                    <form action="http://127.0.0.1:3412/delete/{{bucketname}}/{{i}}" class="myclass">
                        <p><input type="submit" value = "✂ Delete this video" class="button"/></p>
                    </form>
                    
                </th>
                        
            {% endif %}
            
        {%- endfor %}
        </tr>
        
        {%- endfor %}
        </table>
    </body>
</html>