<html>
<style>
    body {
        background-color: rgb(250, 207, 213);
        font-family: helvetica, arial, sans-serif;
    }
    .myclass {
        display: inline-block;
    }

    .button {
        background-color: palevioletred;
        color: white;
        text-align: center;
        font-size: 14px;
        padding: 10px 10px;
        border: 1px solid rgb(66, 64, 64);
        
    }

    .button:hover {
        background-color: palevioletred;
        color: white;
        text-align: center;
        font-size: 16px;
        padding: 10px 10px;
        border: 1px solid black;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    
    .Backbutton {
        background-color: white;
        color: palevioletred;
        text-align: center;
        font-size: 14px;
        padding: 7px 7px;
        border: 1px solid rgb(66, 64, 64);
        
    }

    .Backbutton:hover {
        background-color:white;
        color: palevioletred;
        text-align: center;
        font-size: 16px;
        padding: 7px 7px;
        border: 1px solid black;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .Makebutton {
        background-color: white;
        color: black;
        text-align: center;
        font-size: 14px;
        border: 1px solid rgb(66, 64, 64);
        
    }

    .Makebutton:hover {
        background-color: white;
        color: black;
        text-align: center;
        border: 1px solid black;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }



</style>

<body>

<form action="http://127.0.0.1:3412/" >
    <input type="submit" value="Back" class="Backbutton"/>
</form>

<h1>Bucketname : {{ bucketname }}</h1>

<img src="https://media2.giphy.com/media/bT9HaxJBbit8zYRXaB/giphy.gif?cid=3640f6095bb5d7bf5174466a36ddbe2a" width="200" height="200">

<form action="http://127.0.0.1:3412/{{bucketname}}/show_gif" >
    <input type="submit" value=" ★ Go to Display room ★ " class="button"/>
</form>

{% for name in videoList %}

    <table> 
        <tr>

            <td>
                <form action="http://127.0.0.1:3412/makegif/{{bucketname}}/{{name}}">
                    <input type="submit" value="✹ Make GIF! ✹" class="Makebutton"/>
                </form>
            </td>
            <td>
                <p style="font-size:20px; color: palevioletred"> ❤ {{ name }} </p>
            </td>
        </tr>
    </table>


{% endfor %}

{% if videoList|length > 1%}
<table>
    <form action="http://127.0.0.1:3412/makegif/{{bucketname}}/all">
        <input type="submit" value="✹ Make ALL to GIF! ✹" style="height:43px; width:220px" class="Makebutton"/>
    </form>
</table>
{% endif %}




</body>
</html>


